<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select mit VUE</title>
</head>
<body>
    <h1>Select mit VUE</h1>
    <div id="app">
        <select v-model="ausgewaehlt">
            <option v-for="eintrag in auswahlmoeglichkeiten">
                {{ eintrag.name }} 
            </option>
        </select>
        <p>Name: {{ ausgewaehlt }}, Einheit: {{ einheit }}</p>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>    
</body>
</html>